<div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
        <div class="panel panel-default formPanel">
            <div class="panel-heading bg-color-1 border-color-1">
                <h3 class="panel-title">Créer un compte</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                    <div class="form-group formField">
                        {{ form_widget(form.email, { 'attr' : { 'placeholder' : 'Email', 'class' : 'form-control' }}) }}
                    </div>
                    <div class="form-group formField">
                        {{ form_widget(form.username, { 'attr' : { 'placeholder' : 'Pseudo', 'class' : 'form-control' }}) }}
                    </div>
                    <div class="form-group formField">
                        {{ form_widget(form.plainPassword.first, { 'attr' : { 'placeholder' : 'Mot de passe', 'class' : 'validate form-control' } }) }}
                    </div>
                    <div class="form-group formField">
                        {{ form_widget(form.plainPassword.second, { 'attr' : { 'data-error' : form_errors(form.plainPassword.second),'placeholder' : 'Repetez le mot de passe', 'class' : 'validate form-control' } }) }}
                    </div>
                    <div class="form-group formField">
                        <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="S'inscrire">
                    </div>
                    <div class="form-group formField">
                        <p class="help-block">Vous avez deja un compte? <a href="{{ path('fos_user_security_login') }}">Se connecter</a></p>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>