<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Integral - A fully responsive, HTML5 based admin template">
    <meta name="keywords"
          content="Responsive, Web Application, HTML5, Admin Template, business, professional, Integral, web design, CSS3">
    <title>KidzLife | Admin</title>
    <!-- Site favicon -->
    {% block stylesheets %}
    <link rel='shortcut icon' type='image/x-icon' href="{{ asset('img/favicon.ico')}}"/>
    <!-- /site favicon -->

    <!-- Entypo font stylesheet -->
    <link href="{{ asset('css/entypo.css')}}" rel="stylesheet">
    <!-- /entypo font stylesheet -->

    <!-- Font awesome stylesheet -->
    <link href="{{ asset('css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- /font awesome stylesheet -->

    <!-- Bootstrap stylesheet min version -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- /bootstrap stylesheet min version -->

    <!-- Integral core stylesheet -->
    <link href="{{ asset('css/integral-core.css')}}" rel="stylesheet">
    <!-- /integral core stylesheet -->

    <!--Jvector Map-->
    <link href="{{ asset('plugins/jvectormap/css/jquery-jvectormap-2.0.3.css')}}" rel="stylesheet">

    <link href="{{ asset('css/integral-forms.css')}}" rel="stylesheet">
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js')}}"></script>
    <script src="{{ asset('js/respond.min.js')}}"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="{{ asset('plugins/flot/js/excanvas.min.js')}}"></script>
    <![endif]-->

</head>
<body>

<!-- Loader Backdrop -->
<div class="loader-backdrop">
    <!-- Loader -->
    <div class="loader">
        <div class="bounce-1"></div>
        <div class="bounce-2"></div>
    </div>
    <!-- /loader -->
</div>
<!-- loader backgrop -->

<!-- Page container -->
<div class="page-container">

    <!-- Page Sidebar -->
    <div class="page-sidebar">

        <!-- Site header  -->
        {% block header %}
            <header class="site-header">
                <div class="site-logo"><a href="{{ path('admin_homepage') }}">
                        <img height="50" src="{{ asset('img/favicon.png')}}" alt="Integral" title="Integral"></a>
                </div>
                <div class="sidebar-collapse hidden-xs">
                    <a class="sidebar-collapse-icon" href="index.html#">
                        <i class="icon-menu"></i>
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="index.html#">
                        <i class="fa fa-sign-out"> Déconnecter</i>
                    </a>
                </div>
            </header>
        {% endblock %}
        <!-- /site header -->

        <!-- Main navigation -->
        <ul id="side-nav" class="main-menu navbar-collapse collapse">
            {% include('UserBundle:Admin:menu.html.twig') %}
        </ul>
        <!-- /main navigation -->
    </div>
    <!-- /page sidebar -->

    <!-- Main container -->
    <div class="main-container">

        <!-- Main header -->
        <div class="main-header row">
            <div class="col-sm-6 col-xs-7">

                <!-- User info -->
                <ul class="user-info pull-left">
                    <li class="profile-info dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#" aria-expanded="false">
                            <img width="44" class="img-circle avatar" alt="" src="{{ asset('img/man-3.jpg')}}">
                            John Henderson <span class="caret"></span></a>

                        <!-- User action menu -->
                        <ul class="dropdown-menu">

                            <li><a href="index.html#/"><i class="icon-user"></i>My profile</a></li>
                            <li><a href="index.html#/"><i class="icon-mail"></i>Messages</a></li>
                            <li><a href="index.html#"><i class="icon-clipboard"></i>Tasks</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html#"><i class="icon-cog"></i>Account settings</a></li>
                            <li><a href="index.html#"><i class="icon-logout"></i>Logout</a></li>
                        </ul>
                        <!-- /user action menu -->
                    </li>
                </ul>
                <!-- /user info -->
            </div>

            <div class="col-sm-6 col-xs-5">
                <div class="pull-right">
                    <!-- User alerts -->
                    <ul class="user-info pull-left">

                        <!-- Notifications -->
                        <li class="notifications dropdown">
                            <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown"
                               class="dropdown-toggle" href="index.html#"><i class="icon-attention"></i><span
                                        class="badge badge-info">6</span></a>
                            <ul class="dropdown-menu pull-right">
                                <li class="first">
                                    <div class="small"><a class="pull-right" href="index.html#">Mark all Read</a> You
                                        have <strong>3</strong> new notifications.
                                    </div>
                                </li>
                                <li>
                                    <ul class="dropdown-list">
                                        <li class="unread notification-success"><a href="index.html#"><i
                                                        class="icon-user-add pull-right"></i><span
                                                        class="block-line strong">New user registered</span><span
                                                        class="block-line small">30 seconds ago</span></a></li>
                                        <li class="unread notification-secondary"><a href="index.html#"><i
                                                        class="icon-heart pull-right"></i><span
                                                        class="block-line strong">Someone special liked this</span><span
                                                        class="block-line small">60 seconds ago</span></a></li>
                                        <li class="unread notification-primary"><a href="index.html#"><i
                                                        class="icon-user pull-right"></i><span
                                                        class="block-line strong">Privacy settings have been changed</span><span
                                                        class="block-line small">2 hours ago</span></a></li>
                                        <li class="notification-danger"><a href="index.html#"><i
                                                        class="icon-cancel-circled pull-right"></i><span
                                                        class="block-line strong">Someone special liked this</span><span
                                                        class="block-line small">60 seconds ago</span></a></li>
                                        <li class="notification-info"><a href="index.html#"><i
                                                        class="icon-info pull-right"></i><span
                                                        class="block-line strong">Someone special liked this</span><span
                                                        class="block-line small">60 seconds ago</span></a></li>
                                        <li class="notification-warning"><a href="index.html#"><i
                                                        class="icon-rss pull-right"></i><span class="block-line strong">Someone special liked this</span><span
                                                        class="block-line small">60 seconds ago</span></a></li>
                                    </ul>
                                </li>
                                <li class="external-last"><a href="index.html#">View all notifications</a></li>
                            </ul>
                        </li>
                        <!-- /notifications -->

                        <!-- Messages -->
                        <li class="notifications dropdown">
                            <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown"
                               class="dropdown-toggle" href="index.html#"><i class="icon-mail"></i><span
                                        class="badge badge-secondary">12</span></a>
                            <ul class="dropdown-menu pull-right">
                                <li class="first">
                                    <div class="dropdown-content-header"><i
                                                class="fa fa-pencil-square-o pull-right"></i> Messages
                                    </div>
                                </li>
                                <li>
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left"><img alt="" class="img-circle img-sm"
                                                                         src="{{ asset('img/domnic-brown.png')}}"></div>
                                            <div class="media-body">
                                                <a class="media-heading" href="index.html#">
                                                    <span class="text-semibold">Domnic Brown</span>
                                                    <span class="media-annotation pull-right">Tue</span>
                                                </a>
                                                <span class="text-muted">Your product sounds interesting I would love to check this ne...</span>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-left"><img alt="" class="img-circle img-sm"
                                                                         src="{{ asset('img/john-smith.png')}}"></div>
                                            <div class="media-body">
                                                <a class="media-heading" href="index.html#">
                                                    <span class="text-semibold">John Smith</span>
                                                    <span class="media-annotation pull-right">12:30</span>
                                                </a>
                                                <span class="text-muted">Thank you for posting such a wonderful content. The writing was outstanding...</span>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-left"><img alt="" class="img-circle img-sm"
                                                                         src="{{ asset('img/stella-johnson.png')}}"></div>
                                            <div class="media-body">
                                                <a class="media-heading" href="index.html#">
                                                    <span class="text-semibold">Stella Johnson</span>
                                                    <span class="media-annotation pull-right">2 days ago</span>
                                                </a>
                                                <span class="text-muted">Thank you for trusting us to be your source for top quality sporting goods...</span>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-left"><img alt="" class="img-circle img-sm"
                                                                         src="{{ asset('img/alex-dolgove.png')}}"></div>
                                            <div class="media-body">
                                                <a class="media-heading" href="index.html#">
                                                    <span class="text-semibold">Alex Dolgove</span>
                                                    <span class="media-annotation pull-right">10:45</span>
                                                </a>
                                                <span class="text-muted">After our Friday meeting I was thinking about our business relationship and how fortunate...</span>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-left"><img alt="" class="img-circle img-sm"
                                                                         src="{{ asset('img/domnic-brown.png')}}"></div>
                                            <div class="media-body">
                                                <a class="media-heading" href="index.html#">
                                                    <span class="text-semibold">Domnic Brown</span>
                                                    <span class="media-annotation pull-right">4:00</span>
                                                </a>
                                                <span class="text-muted">I would like to take this opportunity to thank you for your cooperation in recently completing...</span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="external-last"><a href="index.html#">All Messages</a></li>
                            </ul>
                        </li>
                        <li class="notifications dropdown">
                            <a data-target="#side-nav" data-toggle="collapse" class="dropdown-toggle"
                               href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"></i> Déconnecter
                            </a>
                        </li>
                        <!-- /messages -->
                    </ul>
                    <!-- /user alerts -->
                </div>
            </div>
        </div>
        <!-- /main header -->

        <!-- Main content -->
        <div class="main-content">
            {% block main %}
            {% endblock %}
            <!-- /row -->

            <!-- Footer -->
            <footer class="footer-main">
                &copy; 2016 <strong>Integral</strong> Admin Template by <a target="_blank" href="index.html#/">G-axon</a>
            </footer>
            <!-- /footer -->
        </div>
        <!-- /main content -->
    </div>
    <div class="">
        {% for label,messages in app.flashes %}
            {% for message in messages %}
                <span class="flash-msg" data-type="{{ label }}" style="display : none">
                        {{ message }}
                    </span>
            {% endfor %}
        {% endfor %}
    </div>
    <!-- /main container -->
</div>
<!-- /page container -->

<!--Load JQuery-->
{% block javascripts %}
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('plugins/metismenu/js/jquery.metisMenu.js')}}"></script>
    <script src="{{ asset('plugins/blockui-master/js/jquery-ui.js')}}"></script>
    <script src="{{ asset('plugins/blockui-master/js/jquery.blockUI.js')}}"></script>

    <!--Knob Charts-->
    <script src="{{ asset('plugins/knob/js/jquery.knob.min.js')}}"></script>

    <!--Jvector Map-->
    <script src="{{ asset('plugins/jvectormap/js/jquery-jvectormap-2.0.3.min.js')}}"></script>
    <script src="{{ asset('plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js')}}"></script>

    <!--ChartJs-->
    <script src="{{ asset('plugins/chartjs/js/Chart.min.js')}}"></script>

    <!--Morris Charts-->
    <script src="{{ asset('plugins/morris/js/raphael-min.js')}}"></script>
    <script src="{{ asset('plugins/morris/js/morris.min.js')}}"></script>

    <!--Float Charts-->
    <script src="{{ asset('plugins/flot/js/jquery.flot.min.js')}}"></script>
    <script src="{{ asset('plugins/flot/js/jquery.flot.tooltip.min.js')}}"></script>
    <script src="{{ asset('plugins/flot/js/jquery.flot.resize.min.js')}}"></script>
    <script src="{{ asset('plugins/flot/js/jquery.flot.pie.min.js')}}"></script>
    <script src="{{ asset('plugins/flot/js/jquery.flot.time.min.js')}}"></script>

    <!--Functions Js-->
    <script src="{{asset('js/functions.js')}}"></script>

    <!--Dashboard Js-->
    <script src="{{asset('js/dashboard.js')}}"></script>
    <script src="{{asset('js/loader.js')}}"></script>
{% endblock %}

</body>
</html>
