<div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
        <div class="panel panel-default formPanel">
            <div class="panel-heading bg-color-1 border-color-1">
                <h3 class="panel-title">Allready Registered?</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="#" method="POST">
                    <div class="form-group formField">
                        <input class="form-control" name="_email" type="text" placeholder="Email">
                    </div>
                    <div class="form-group formField">
                        <input class="form-control" type="password" name="_password" placeholder="Mot de passe">
                    </div>
                    <div class="form-group formField">
                        <input type="checkbox" checked class="check" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Rester connecté</label>
                    </div>
                    <div class="form-group formField">
                        <input class="btn btn-primary btn-block bg-color-3 border-color-3" type="submit" value="Log in">
                    </div>
                    <div class="form-group formField">
                        <p class="help-block"><a href="{{ path('fos_user_change_password') }}">Mot de passe oubliée?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{#<div class="row" style="margin-top: 50px">#}
    {#<div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">#}
        {#<div class="panel panel-default formPanel">#}
            {#<div class="panel-heading bg-color-1 border-color-1">#}
                {#<h3 class="panel-title">Créer un compte</h3>#}
            {#</div>#}
            {#<div class="panel-body">#}

                {#<h4>Connexion</h4>#}
                {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
                    {#<div class="row">#}
                        {#<div class="col m12">#}
                            {#{% if csrf_token %}#}
                                {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
                            {#{% endif %}#}
                            {#<div class="input-field">#}
                                {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}
                            {#</div>#}

                            {#<div class="input-field">#}
                                {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                                {#<input type="password" id="password" name="_password" required="required" />#}
                            {#</div>#}

                            {#<p>#}
                                {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                                {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="col m5">#}
                            {#<button type="submit" id="_submit" name="_submit" class="btn red connect">#}
                                {#{{ "connecter"|trans }}#}
                            {#</button>#}
                        {#</div>#}
                        {#<div class="col m2 center-align">#}
                            {#<h6 style="padding-top: 5px"><strong>Ou</strong></h6>#}
                        {#</div>#}
                        {#<div class="col m5 right-align">#}
                            {#<a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light btn-flat">#}
                                {#{{ "s'inscrire"|trans }}#}
                            {#</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}